@import "./styles/components/header";
@import "./styles/components/footer";

body {
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}