@font-face {
    font-family: 'circular_spotify_textmedium';
    src: url('../../fonts/circularspotifytext-medium-webfont.woff2') format('woff2'),
         url('../../fonts/circularspotifytext-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    border: 5px solid #1DB954;
    background-color: black;
}

main {
    background-color: black;
    font-family: 'circular_spotify_textmedium';
    .search-bar {
        display: flex;
    }
    form {
        width: 300px;
        height: 60px;
        border-radius: 0%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: black;
        outline: white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    input {
        all: unset;
        color: black;
    }
    input:focus {
        color: white;
    }
    input:focus::placeholder {
        color: transparent;
    }
    ::placeholder {
        color: white;
    }
    img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        display: flex;
        justify-content: center;
        color: white;
    }
    h3 {
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
    }
    ul {
        padding-inline-start: 0px;
    }
    #album-name {
        text-align: center;
    }
    #song-name {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 28px;
    }
    ul {
        font-size: 22px;
    }
    #song-info-text {
        font-size: 24px;
    }
    form {
        font-size: 28px;
    }
    #listening-now {
        font-size: 24px;
    }
}

@media screen and (min-width: 1000px) {
    .album {
        margin-bottom: 10%;
    }
    .song-info {
        margin-top: 7%;
        font-size: 28px;
    }
}

@media screen and (min-width: 1300px) {
    .song-info {
        margin-top: 2%;
        font-size: 40px;
    }
}
